---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        {% if site.data.program[page.program] %}
        {% assign program = site.data.program[page.program] %}
        {% assign people = program.people %}
        {% assign locations = program.locations %}
        {% assign presentations = program.presentations %}
        {% assign schedule = program.schedule %}
        <hr class="my-4">
        <div class="row">
            <ul class="list-unstyled ms-3 ms-lg-0 lh-sm">
                {% for event in schedule %}
                {% if event.category %}
                {% assign category = page.categories | where: 'name', event.category | first %}
                {% assign color = category.color %}
                {% else %}
                {% assign color = 'gray-4' %}
                {% endif %}
                {% assign start = event.time | split: '-' | slice: 0 %}
                {% assign end = event.time | split: '-' | slice: 1 %}
                <li class="d-flex flex-column flex-lg-row">
                    {% capture classes %}border-start border-3 border-{{ color }}{% endcapture %}
                    <div class="row col-lg-2 pb-2 {{ classes }} border-lg-0">
                        <small class="fw-light text-muted">{{ start }}–{{ end }}</small>
                    </div>
                    {% unless forloop.last %}
                    {% capture classes %}{{ classes }} mb-4{% endcapture %}
                    {% endunless %}
                    <div class="row col-lg-10 {{ classes }}">
                        {% if event.title %}
                        <h5 class="fw-normal m-0 mb-2">{{ event.title }}</h5>
                        {% else %}
                        {% assign presentation = presentations[event.presentation] %}
                        
                        {% comment %} Handle both 2024 and 2025 formats {% endcomment %}
                        {% if presentation.presenter %}
                            {% comment %} 2024 format {% endcomment %}
                            {% assign presenter = people[presentation.presenter] %}
                            <h5 class="fw-normal m-0 mb-2">
                                {{ presentation.title }}
                                {% if presentation.abstract %}
                                <button type="button" class="btn btn-sm btn-outline-secondary ms-2" data-bs-toggle="modal" data-bs-target="#modal-{{ event.presentation }}">
                                    Abstract
                                </button>
                                {% endif %}
                            </h5>
                            {% if presenter.website %}
                            <p class="fw-light m-0"><a href="{{ presenter.website }}">{{ presenter.name }}</a> ({{ presenter.university }})</p>
                            {% else %}
                            <p class="fw-light m-0">{{ presenter.name }} ({{ presenter.university }})</p>
                            {% endif %}
                        {% else %}
                            {% comment %} 2025 format {% endcomment %}
                            <h5 class="fw-normal m-0 mb-2">
                                {{ presentation.title }}
                                {% if presentation.abstract %}
                                <button type="button" class="btn btn-sm btn-outline-secondary ms-2" data-bs-toggle="modal" data-bs-target="#modal-{{ event.presentation }}">
                                    Abstract
                                </button>
                                {% endif %}
                            </h5>
                            <p class="fw-light m-0">
                            {% for author_id in presentation.authors %}
                                {% assign author = people[author_id] %}
                                {% if forloop.index > 1 %}, {% endif %}
                                {% if author.website %}
                                <a href="{{ author.website }}">{{ author.name }}</a>
                                {% else %}
                                {{ author.name }}
                                {% endif %}
                                {% if author.university %}
                                    ({{ author.university }})
                                {% elsif author.institutions.size > 0 %}
                                    ({{ author.institutions | join: ", " }})
                                {% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}
                        {% endif %}
                        <p class="fw-light m-0">
                        {% if event.paper.first %}
                            {% for paper in event.paper %}
                            <a href="{{ paper }}" target="_blank">[Paper {{ forloop.index }}]</a>
                            {% endfor %}
                        {% elsif event.paper %}
                        <a href="{{ event.paper }}" target="_blank">[Paper]</a>
                        {% endif %}
                        {% if event.poster.first %}
                            {% for poster in event.poster %}
                            <a href="{{ poster }}" target="_blank">[Poster {{ forloop.index }}]</a>
                            {% endfor %}
                        {% elsif event.poster %}
                        <a href="{{ event.poster }}" target="_blank">[Poster]</a>
                        {% endif %}
                        {% if event.slides.first %}
                            {% for slides in event.slides %}
                            <a href="{{ slides }}" target="_blank">[Slides {{ forloop.index }}]</a>
                            {% endfor %}
                        {% elsif event.slides %}
                        <a href="{{ event.slides }}" target="_blank">[Slides]</a>
                        {% endif %}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% assign size = categories | size %}
            {% if size > 0 %}
            <div class="mt-4 mb-2">
                {% for item in page.categories %}
                {% assign border = page.categories | where: 'name', item | map: 'color' | first %}
                {% assign bg = border | split: '-' | first | prepend: 'bg-' | append: '-1' %}
                {% assign classes = border | prepend: ' border-' | prepend: bg %}
                {% unless forloop.last %}
                {% assign classes = classes | append: ' me-lg-2' %}
                {% endunless %}
                {% if border %}
                <small class="d-block d-lg-inline-block mt-2 px-3 py-1 border-start border-3 {{ classes }}">{{ item | upcase }}</small>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        
        <!-- Modal Definitions -->
        {% for event in schedule %}
            {% if event.presentation %}
                {% assign presentation = presentations[event.presentation] %}
                {% if presentation.abstract %}
                <div class="modal fade" id="modal-{{ event.presentation }}" tabindex="-1" aria-labelledby="modal-{{ event.presentation }}-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header d-block">
                                <div class="d-flex justify-content-between align-items-start">
                                    <h5 class="modal-title" id="modal-{{ event.presentation }}-label">{{ presentation.title }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <p class="mb-0 text-muted">
                                {% if presentation.presenter %}
                                    {% comment %} 2024 format {% endcomment %}
                                    {% assign presenter = people[presentation.presenter] %}
                                    {% if presenter.website %}
                                    <a href="{{ presenter.website }}">{{ presenter.name }}</a>
                                    {% else %}
                                    {{ presenter.name }}
                                    {% endif %}
                                    {% if presenter.university %}
                                        ({{ presenter.university }})
                                    {% elsif presenter.institutions.size > 0 %}
                                        ({{ presenter.institutions | join: ", " }})
                                    {% endif %}
                                {% else %}
                                    {% comment %} 2025 format {% endcomment %}
                                    {% for author_id in presentation.authors %}
                                        {% assign author = people[author_id] %}
                                        {% if forloop.index > 1 %}, {% endif %}
                                        {% if author.website %}
                                        <a href="{{ author.website }}">{{ author.name }}</a>
                                        {% else %}
                                        {{ author.name }}
                                        {% endif %}
                                        {% if author.university %}
                                            ({{ author.university }})
                                        {% elsif author.institutions.size > 0 %}
                                            ({{ author.institutions | join: ", " }})
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </p>
                            </div>
                            <div class="modal-body">
                                <!-- Abstract -->
                                <p>{{ presentation.abstract }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</main>

{% include footer.html %}