---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        {% if site.data.program[page.program] %}
        {% assign program = site.data.program[page.program] %}
        {% assign categories = program.legend.categories %}
        {% assign people = program.people %}
        {% assign locations = program.locations %}
        {% assign presentations = program.presentations %}
        {% assign schedule = program.schedule %}
        <hr class="my-4">
        <div class="row">
            <ul class="list-unstyled ms-3 ms-lg-0 lh-sm">
                {% for event in schedule %}
                {% if event.category %}
                {% assign category = categories | find: 'name', event.category %}
                {% assign color = category.color %}
                {% else %}
                {% assign color = 'gray-4' %}
                {% endif %}
                {% assign start = event.time | split: '-' | slice: 0 %}
                {% assign end = event.time | split: '-' | slice: 1 %}
                <li class="d-flex flex-column flex-lg-row">
                    {% assign classes = color | prepend: 'border-start border-3 border-' %}
                    <div class="row col-lg-2 pb-2 {{ classes }} border-lg-0">
                        <small class="fw-light text-muted">{{ start }}–{{ end }}</small>
                    </div>
                    {% unless forloop.last %}
                    {% assign classes = classes | append: ' mb-4' %}
                    {% endunless %}
                    <div class="row col-lg-10 {{ classes }}">
                        {% if event.title %}
                        <h5 class="fw-normal m-0 mb-2">{{ event.title }}</h5>
                        {% else %}
                        {% assign presentation = presentations[event.presentation] %}
                        {% assign presenter = people[presentation.presenter] %}
                        <h5 class="fw-normal m-0 mb-2">{{ presentation.title }}</h5>
                        {% if presenter.website %}
                        <p class="fw-light m-0"><a href="{{ presenter.website }}">{{ presenter.name }}</a> ({{ presenter.university }})</p>
                        {% else %}
                        <p class="fw-light m-0">{{ presenter.name }} ({{ presenter.university }})</p>
                        {% endif %}
                        {% endif %}
                        <p class="fw-light m-0">
                        {% if event.paper.first %}
                            {% for paper in event.paper %}
                            <a href="{{ paper }}" target="_blank">[Paper {{ forloop.index }}]</a>
                            {% endfor %}
                        {% elsif event.paper %}
                        <a href="{{ event.paper }}" target="_blank">[Paper]</a>
                        {% endif %}
                        {% if event.poster.first %}
                            {% for poster in event.poster %}
                            <a href="{{ poster }}" target="_blank">[Poster {{ forloop.index }}]</a>
                            {% endfor %}
                        {% elsif event.poster %}
                        <a href="{{ event.poster }}" target="_blank">[Poster]</a>
                        {% endif %}
                        {% if event.slides.first %}
                            {% for slides in event.slides %}
                            <a href="{{ slides }}" target="_blank">[Slides {{ forloop.index }}]</a>
                            {% endfor %}
                        {% elsif event.slides %}
                        <a href="{{ event.slides }}" target="_blank">[Slides]</a>
                        {% endif %}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% assign legend = schedule | map: 'category' | compact | uniq %}
            {% assign size = legend | size %}
            {% if size > 0 %}
            <div class="mt-4 mb-2">
                {% if program.legend.title %}
                <h5 class="fw-normal">{{ program.legend.title }}</h5>
                {% endif %}
                {% for item in legend %}
                {% assign border = categories | where: 'name', item | map: 'color' | first %}
                {% assign bg = border | split: '-' | first | prepend: 'bg-' | append: '-1' %}
                {% assign classes = border | prepend: ' border-' | prepend: bg %}
                {% unless forloop.last %}
                {% assign classes = classes | append: ' me-lg-2' %}
                {% endunless %}
                {% if border %}
                <small class="d-block d-lg-inline-block mt-2 px-3 py-1 border-start border-3 {{ classes }}">{{ item | upcase }}</small>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</main>

{% include footer.html %}